body {
    min-height: 100vh;
    background-color: #19A1AE;
    
}

.bg-pattern-top {
    position: absolute;
    width: 610px;
    height: 550px;
    left: -340px;
    top: -275px;
    z-index: -1;
    opacity: 0.25;
    transform: rotate(20deg);
}



#container {
    width: 326px;
    height: 374px;
    border-radius: 15px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 147px;
}

.pattern-card {
    width: 326px;
    height: 140px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}